body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 34px;
	padding: 0;
    margin: 0;
}

h3 {
    font-size: 24px;
	padding: 0;
    margin: 0;
}

h4 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.banner-area {
    display: flex;
}

#first-banner-margin {
    margin-top: 80px;
}

.banner-height {
    height: 560px;
}

.top-banner, 
.banner-end {
    width: 50%;
}

.first-banner {
    margin: 0px 50px;
}

.first-banner p {
    margin: 30px 0px;
}

.banner-text {
    border-left: 5px solid tomato;
    padding-left: 10px;
}

.special-item {
    color: #F49860;
}

#click-button {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    background: #F49860;
    padding: 10px 25px;
    border-radius: 5px;
}

.top-banner img {
    width: 60%;
    padding: 20px 100px 0px 100px;
}

.middle-area-heading {
    text-align: center;
}

.boxes {
    margin: 0px 30px;
}

.box {
    width: 33.33%;
    margin: 10px;
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
    text-align: justify;
}

.box img {
    width: 50%;
}

#box-1 {
    background-color: #EDF5F6;
}

#box-2 {
    background-color: #FFEEEE;
}

#box-3 {
    background-color: #FFF4D6;
}

.middle-banner-2 {
    width: 40%;
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-y: 50px;
}

.middle-banner-2 img {
    width: 70%;
    padding-left: 120px;
}

.middle-banner-3,
.middle-banner-4,
.banner-end {
    width: 60%;
}

.first-banner-background {
    padding: 20px 30px;
}

.first-banner-background p {
    margin-bottom: 30px;
    text-align: justify;
}

.middle-banner-5 {
    width: 40%;
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position-x: 300px;
    background-position-y: 290px;
}

.middle-banner-5 img {
    width: 70%;
}

.last-background {
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-x: 1150px;
    background-position-y: 350px;
}

.extra-area {
    padding: 100px 0px;
}

.last-banner {
    width: 40%;
}

.last-banner img {
    width: 70%;
    padding-left: 120px;
}

.second-special-color {
    color: #FFAD5A;
}

#footer {
    display: block;
    overflow: hidden;
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
}

footer h3 {
    color: white;
}

footer p {
    color: white;
}